<!-- BEGIN LOGO -->
<div class="page-logo">
        <a href="/">
        <style type="text/css">
            #logo
            {
                width: auto !important;
                max-width: 12rem !important;
                height: auto !important;
                max-height: 10rem !important;
            }
        </style>
        <img src="assets/img/deecaf3.png" alt="logo" class="logo-default" id="logo" /> </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
</div>
<!-- END LOGO -->