<!-- Error Message when no input -->
<div class="alert alert-block alert-info fade in" id="nohistory" hidden>
    <h4 class="alert-heading">You Do Not Have Past History Yet!</h4>
    <p> 
        You should start to add and track your caffeine intake first!
        History and Statistics updates daily. You may have to wait for
        24 hours to see history.  
    </p>
    </br>
    <p>
        <a class="btn green" href="/"><i class="fa fa-home"></i> Home </a>
        <a class="btn green" href="/brands"><i class="fa fa-plus"></i> Add Drink </a>
    </p>
</div>
<!-- Error Message when no input -->
