<link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<div>
  <i class="fa fa-thumbs-up"></i>
  <span>For your remaining <span id="remaining"></span> mg of caffeine...</span>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <span id="recommendUser"></span>
    </div>
  </div>
</div>
