<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.4
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
 <head>
        <meta charset="utf-8" />
        <title>DeeCaFe | Regulate your cafeine intake</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <script src="assets/global/scripts/parse-1.6.14.min.js" type="text/javascript"></script>
        <link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css"/>
        <link href="assets/global/css/components-md.css" rel="stylesheet" type="text/css"/>
        <link href="assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/css/jquery.bxslider.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/layouts/layout4/css/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/add-new-coffee.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/swipe.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/index.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        </head>
    <!-- END HEAD -->
    <body>

    <body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                {{> logo}}
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            {{> navigationbar}}
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head"></div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="/">Home</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">Help and Documentation</span>
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portlet light bordered" id="blockui_sample_1_portlet_body">
                                <div class="portlet-title">

                                  <div class = "header-img">
                                    <img src="assets/img/coffee-shop-header.jpg" id="header-img">
                                    </div>
                                    <div class="caption">
                                        <i class="fa fa-question-circle font-brown-sharp"></i>
                                        <span class="caption-subject font-brown-sharp sbold">Help and Documentation</span>
                                    </div>

                                </div>
                                <div class="portlet-body">

                                        <!-- Accordian Collapsable List -->             
                                        <div class="panel-group accordion" id="accordion1">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1" aria-expanded="false"> What is Today's Intake? </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <p>
                                                            In the "Today's Intake" page, the coffee cup shows how much caffeine is currently in your system.
                                                            You can track your caffeine intake by adding drinks from stores on campus. We recommend that you
                                                            add your beverage to our app before you purchase and drink it, so that you can see if you are drinking
                                                            a healthy amount.
                                                          </p>
                                                            <a class="btn green" href="/"> Go Back To Today's Intake Page </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2" aria-expanded="false"> How to Add New Drink </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <p>
                                                            <ol>
                                                                <li>
                                                                  To begin, click on the "<a href="/brands">Add Drink</a>" button from the <a href="/">Today's intake</a> page and go look for your beverage from the selections.  
                                                                </li>
                                                                <li>
                                                                    If you want to add your home brewed coffee, please click on "<a href="/addCustomDrink">Is your drink not listed?</a>" right below brands dropdown menu
                                                                </li>
                                                            </ol>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3" aria-expanded="false"> How to Reset Drink History </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <p>
                                                            <ol>
                                                                <li>
                                                                  To reset entire drink history, go to "<a href="myaccount">My Account</a>" page, and click on "Reset Intake History" button   
                                                                </li>
                                                                <li>
                                                                    If you want to remove specific drink history, please go to "<a href="/history">History</a>", and press "x" button on the drink that you want to remove
                                                                </li>
                                                            </ol>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_4" aria-expanded="false"> Weight and Daily Recommended Caffeine Intake </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <p> 
                                                            According to CaffeineInformer, "Based on on average body weights worldwide7, we conclude that 6mg/kg (of weight) is appropriate."
                                                            We use that formula to calculate your approximate daily recommend. It is just guideline, and it is your responsible to check with professionals
                                                        </p>
                                                        <p>
                                                            <a href="http://www.caffeineinformer.com/caffeine-safe-limits" targe="_blank">For more detail..</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_5" aria-expanded="false"> Health and Caffeine Overdose </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <p> 
                                                            <h3>Top 10 Caffeine Overdose Symptoms</h3>
                                                        </p>
                                                        <p>
                                                            Here are the usual symptoms in order from the first ones to be experienced to the more severe, later stage consequences.
                                                        </p>
                                                        <p>
                                                            <ol>
                                                                <li>
                                                                    Jitters, Restlessness, and Nervousness
                                                                </li>
                                                                <li>
                                                                    Increased heartbeat
                                                                </li>
                                                                <li>
                                                                    Nausea
                                                                </li>
                                                                <li>
                                                                    Anxiety
                                                                </li>
                                                                <li>
                                                                    Heart palpitations (cardiac arrhythmia)
                                                                </li>
                                                                <li>
                                                                    Insomnia
                                                                </li>
                                                                <li>
                                                                    Sweating
                                                                </li>
                                                                <li>
                                                                    Dizziness
                                                                </li>
                                                                <li>
                                                                    Vomiting
                                                                </li>
                                                                <li>
                                                                    Cardiac arrest    
                                                                </li>
                                                            </ol>
                                                            
                                                            There can be many common symptoms that indicate too much caffeine consumption, but these are the most prevalent.

                                                            These symptoms should be recognized and further caffeine intake should be stopped to avoid more serious and even life-threatening symptoms.

                                                            Ingesting massive doses of caffeine all at once is particularly dangerous as it doesn’t give your body time to react. Overdose symptoms serve as an early warning system.

                                                            Caffeine’s major effects are experienced for at least 4 hours.

                                                            This is longer for those sensitive to caffeine.
                                                            This is longer with extremely large doses.
                                                            This is based on the half life of caffeine which is 4-6 hours.
                                                        </p>
                                                        <p>
                                                            <a href="http://www.caffeineinformer.com/caffeine-overdose-facts-and-fiction" targe="_blank">For more detail..</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        
                                        <div class="documentation">
                                          <p>
                                            Created by: Davis Yi, Scarlet Xie, Olasubomi Awokoya (Ola), and Paulo Gonzales
                                          </p>
                                          <p>
                                            Starbucks menu data collected from: http://www.starbucks.com/menu/drinks
                                          </p>
                                          <p>
                                            CSE170/COGS120: Quantified Studio with Rob Gougelet
                                          </p>
                                        </div>
                                    <!-- Buttons -->
                                    <div class="row">
                                        <div class ="pull-right">
                                            <a href="/" type="button" class="btn green-haze">Home</a>
                                        </div>
                                    </div>
                                    <!--- End of the Buttons-->

                                </div>
                            </div>
                        </div>
                    </div



                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

        </div>



    <!-- END FOOTER -->
        <!--[if lt IE 9]>
		<script src="assets/global/plugins/respond.min.js"></script>
		<script src="assets/global/plugins/excanvas.min.js"></script>
		<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="assets/global/scripts/swipe.js" type="text/javascript"></script>
		<script src="assets/global/scripts/parse-1.6.14.min.js" type="text/javascript"></script>
        <script src="assets/global/scripts/jquery.bxslider.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="assets/pages/scripts/components-bootstrap-maxlength.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="assets/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
        <script src="assets/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
        <script src="assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <script src="assets/controllers/addNewCoffeeController.js" type="text/javascript"></script>
        <script src="assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
	</body>

</html>
