
.page-container{
    background-image: url("../img/background.jpg")!important; 
    background-color: #cccccc;
    
}
.col-md-6 #blockui_sample_1_portlet_body{
    /*background-color: #cd7f65 !important;*/

}
.caption {
    opacity: 1.0 !important;
    position: absolute;
    z-index: 2 !important;
}
.caption-subject{
    /*font-size: 20px !important;*/
}
.header-img #header-img{
    position: absolute;
    opacity: 0.3;
    /*display: inline;*/
    height: 100%;
    width: 100%;
    z-index: 1;
}
.portlet-title{
   /* background-image: url("../img/coffee-shop-header.jpg")!important; */
    /*opacity: 0.6;*/
    /*z-index: ;*/
    position: relative;
    height: 60px;
   
}
#maxCaffeine {
	color: white;
	text-align: center;

	font-weight: bold;
	font-size: 20px;

}

#titleOfCup {
	text-align: center;

}
.portlet-body{
    position: relative;
    height:338px;
}
.intake_table{
    opacity: 1.0 !important;
    position: absolute;
    z-index: 2 !important;
}




/*Mobile Resolution*/
@media ( max-width:801px ) {
    .glass 
    {
        height: 338px;
        width: 100%;
        position: relative;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        background-color: #F0F0F0;
        overflow: hidden;
    }
    .glass img{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;

    .waterFill 
    {
        background-image: url("coffee_water.png");  
        background-position: top right; 
        /*background-color: #bf8040;*/
        -webkit-transition: all 3s ease-out;
        -moz-transition: all 3s ease-out;
        -o-transition: all 3s ease-out;
        width: 100%;
        height: 10%;
        position: absolute;
        bottom: 25px;
    }

}

/*Table or higher resoltion*/
@media ( min-width:801px ) {
    .glass 
    {
        height: 250px;
        width: 350px;
        position: relative;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        background-color: #F0F0F0;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .glass img
    {
        z-index: 1;
        position: relative;
        width: 350px;
        height: 250px;
    }

    .waterFill 
    {
        background-image: url("coffee_water.png");  
        background-position: top right; 
        /*background-color: #bf8040;*/
        -webkit-transition: all 3s ease-out;
        -moz-transition: all 3s ease-out;
        -o-transition: all 3s ease-out;
        width: 100%;
        height: 10%;
        position: absolute;
        bottom: 25px;
    }
}



.intake_table td {
    border-top: none !important;
}

#waterlevel
{
    border-bottom: 1px solid black;
    width: 100%;
}


.add_button
{
    position: fixed;
    bottom: 20px;
    right: 35px;
    z-index: 99;
}

#level_line{
    border-top: 3px solid black;
}

#addNewCoffee{
    width: 100%;
    margin: 9px;
}